@charset "utf-8";
/* CSS Document: Apply Now */

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }

  #headline-container .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }

/* Form */
#form-wrapper {
  width: auto;
  height: auto;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 55px; }

  #form-wrapper label {
    color: #232323;
	text-align: right;
	display: inline-block;
	width: 115px;
	padding-right: 15px; }

	#form-wrapper label[for="state"] {
      width: 60px;
	}

	#form-wrapper label[for="zipcode"] {
	  padding-left: 5px;
      width: 70px;
	}

	#form-wrapper label[for="awf_field-53172505"] {
      vertical-align: top;
	  margin-top: 5px;
	}

  #form-wrapper textarea  {
    border: 1px solid #d4d4d4;
	background-color: #f8f8f8;
	padding: 7px;
	width: 446px; }

  #form-wrapper select {
    height: 45px;
	padding-top: 10px;
    border: 1px solid #d4d4d4;
	background-color: #f8f8f8; }

	#form-wrapper select option {
	  text-indent: 10px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  cursor: pointer;
	  border-bottom: 1px solid #CCCCCC; }


  #form-wrapper  input[type="text"] {
    width: 675px;
	height: 45px;
	margin-bottom: 17px;
	text-indent: 7px;
	border: 1px solid #d4d4d4;
	background-color: #f8f8f8; }

	#form-wrapper  input[type="text"].med { /*width: 275px;*/ width: 460px; }

	#form-wrapper  input[type="text"].small { width: 53px; }

	#form-wrapper  input[name="address1"] { margin-left: 120px; }

  #form-wrapper input[type="image"] {
    display: block;
	margin: auto;
	margin-top: 30px;
	margin-left: 155px; }

   .error {
     border: 1px solid red !important; }
