@charset "utf-8";
/* CSS Document: Who is Mike Parrella */

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }

  #headline-container .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }

/* Copy */

.copy {
  width: 100%;
  height: auto;
  margin-top: 45px; }

  p.check {
    min-width: 38px;
	min-height: 41px;
	padding-left: 45px;
	margin-bottom: 20px;
	margin-left: 420px;
	margin-right: 20px;
	color: #232323;
	background: transparent no-repeat url('../images/bio/check-small.png') top left; }

.content-divider {
  width: 973px;
  height: 72px;
  margin-left: -18px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  background: transparent no-repeat url('../images/bio/content-divider-bg.png') center top; }

  .content-divider p {
    font-size: 28px;
	line-height: 52px;
	color: #FFF;
	text-align: center; }

  img.mike {
    position: absolute;
	top: -630px;
	left: 52px; }