@charset "utf-8";
/* Guarantee CSS */

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }

  #headline-container .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }

.copy { margin: 40px 80px 50px; }

  .copy img {
    float: right;
	margin-top: 30px;}


  .copy p {
    font-size: 16px;
	color: #232323;
	margin-bottom: 20px; }

    .copy p.head {
	  color: #000;
	  margin-bottom: 30px;
      font-size: 38px; }