@charset "utf-8";
/* CSS Document */

#headline-container {
  width: 100%;
  height: auto;
  float: left; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }

  #headline-container .futura,
  #testimonial-container > p.futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }


/* Video */
#video-wrapper {
  width: 570px;
  height: 322px;
  margin: auto;
  position: relative;
  margin-top: 50px; }

  #video-wrapper video {
    cursor: pointer; }

  #video-wrapper .arrow {
    position: absolute;
	right: -150px;
	top: -40px; }

  #play-button {
  	width: 570px;
	height: 322px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5; }

	#play-button:before {
	  content: '';
	  width: 0px;
	  height: 0px;
	  position: absolute;
	  top: 100px;
	left: 250px;
	z-index: 5;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid #525252;
	opacity: 0.8; }


	#video-wrapper .inner_wrapper {
	  position: relative;
	  z-index: 0;
	  cursor: pointer; }

.mastermind-copy {
  width: 650px;
  height: auto;
  margin: auto;
  margin-top: 30px;}

  .mastermind-copy p { margin-bottom: 20px; }

  .mastermind-copy p.daniel { font-size: 30px; }

  .mastermind-copy span.daniel { font-size: 27px; }


/* Who is Michael Parrella */
#who-is-michael {
  width: 973px;
  height: 282px;
  margin-left: -18px;
  margin-top: 25px;
  margin-bottom: 110px;
  background: transparent no-repeat url('../images/index/content-divider-bg.png') center top; }

  #who-is-michael img {
    float: left;
    margin-left: 110px;
	margin-top: 20px; }

  #who-is-michael p {
    width: 560px;
    float: left;
    color: #FFF;
	margin-left: 22px;
	margin-bottom: 13px; }

    #who-is-michael p.futura {
	  font-size: 41px;
	  margin-top: 20px;
	  margin-bottom: 16px; }


.headline {
  font-size: 60px;
  color: #d41719;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }


article {
  width: 650px;
  height: auto;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 25px; }

  article p {
    margin-bottom: 15px; }

	article img.full + p {
	  margin-top: 35px; }

	p.check {
	  min-width: 74px;
	  min-height: 80px;
	  padding-left: 90px;
	  margin-left: -94px;
	  font-size: 38px;
	  margin-top: 50px;
	  background: transparent no-repeat url('../images/index/check.png') top left; }


	p.wrong {
	  min-width: 94px;
	  min-height: 77px;
      margin-left: -100px;
	  padding-left: 100px;
	  font-size: 38px;
	  background: transparent no-repeat url('../images/index/wrong.png') top left; }

  article img {
    float: right;
	clear: both; }

	article img.right {
	  margin-left: 20px;
	  margin-right: -143px; }

	article img.full {
	  float: none;
	  margin-left: -143px; }

	article img#guarantee { margin-right: -100px; }

  .horiz-row {
    width: 427px;
	height: 1px;
	float: right;
	margin-right: -143px;
	margin-left: -427px;
	clear: both;
	background: transparent no-repeat url('../images/index/img-gradient.png') top right; }

/* Testimonials */
#testimonial-container {
  width: 100%;
  height: auto;
  margin-top: 65px;
  margin-bottom: 25px; }

  #testimonial-container article {
    width: 889px;
	height: auto;
	margin: auto;
	padding-bottom: 25px;
	margin-top: 80px;
	background: transparent no-repeat url('../images/testimonials/horiz-bar.png') center bottom; }

	#testimonial-container article.no_horiz { background: none; }

	#testimonial-container article.testimonial img.headshot {
	  float: left;
	  clear: both;
	  margin-bottom: 25px;
	  margin-left: 50px; }

	#testimonial-container article img.apply_now { }

    #testimonial-container article.testimonial p {
      margin-left: 260px;
	  margin-bottom: 20px;
	  margin-right: 50px; }

	  #testimonial-container article.testimonial p.head {
	    font-size: 46px;
		text-align: center;
		margin-bottom: 30px; }

	  #testimonial-container article.testimonial p.sig {
	    font-size: 27px;  }

  .more_testimonials {
    font-size: 30px;
  	float: right;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-right: 50px;
	cursor: pointer;
	text-transform: uppercase;  }



/* FAQ Accordion */
#accordion {
  width: 100%;
  height: auto;
  margin-bottom: 35px; }

  #accordion h3 {
    width: 100%;
	height: 134px;
	line-height: 134px;
	margin-bottom: 2px;
	font-size: 40px;
	color: #767575;
	text-align: center;
	cursor: pointer;
    background-color: #f0efef;
  }

    #accordion h3.ui-accordion-header-active {
	  color: #FFF;
	  background-color: #d41719; }

  #accordion > div { margin-top: 25px; }

    #accordion div p {
      width: 600px;
	  margin: auto;
	  margin-bottom: 15px; }

