@charset "utf-8";
/* CSS Document: Who is Mike Parrella */

img.apply_now {
  margin-top: 35px; }

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 90px; }

  #headline-container .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 30px; }

  #headline-container p {
    font-size: 21px;
	color: #313131;
	margin-top: 35px;
	text-align: center; }

/* Copy */
.copy {
  width: 100%;
  height: auto;
  margin-top: 45px; }

  article {
    width: 600px;
	height: auto;
	position: relative;
	margin: auto;
	margin-top: 45px; }

	article#blueprint {
	  width: 700px;
	  margin-top: 70px;
	  margin-left: 100px; }

	article p {
	  font-size: 16px;
	  color: #5c5c5c; }

	  article#blueprint p {
	    margin-bottom: 20px; }

	  p.headline {
	    font-size: 38px;
	    margin-bottom: 25px;
	    margin-left: 50px;
		color: #000; }

		article#blueprint p.headline {
		  margin-left: 0px;
		  text-align: left; }

      p.check {
        min-width: 38px;
	    min-height: 41px;
	    padding-left: 45px;
	    margin-bottom: 25px;
	    margin-right: 20px;
	    color: #232323;
	    background: transparent no-repeat url('../images/bio/check-small.png') top left; }

	  p.btm-headline {
	    text-align: center; }

    article img.right {
	  float: right;
	  clear: both;
	  margin-bottom: 35px;
	  margin-right: -168px; }

	  article img.right:first-child { margin-top: 50px; }

	  article#blueprint img.right:first-child {
	    margin-top: 0px;
		margin-right: -136px;
		margin-left: -20px; }

p.sub-head {
    font-size: 50px;
	color: #e12c00;
	text-align: center;
	margin-top: 35px;}

