@charset "utf-8";
/* CSS Document: Apply Now */

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }



.copy {
  width: 100%;
  height: auto;
  margin-top: 80px; }

  .copy p.title {
    font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 90px; }

  .copy ul, ol {
    margin: auto 120px 34px; }

	.copy ul li {
	  margin-bottom: 8px;
	  list-style-type: disc; }

	.copy ol li {
	  margin-bottom: 8px;
	  list-style-type: decimal; }

  h4.futura {
    font-size: 50px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }

/* Form */
#form-wrapper {
  width: 590px;
  height: auto;
  margin: auto;
  margin-top: 55px; }

  .form_group {
    width: 100%;
	height: auto;
	margin-top: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid #CCCCCC; }

  #form-wrapper p.title {
    font-size: 18px;
	color: #383838;
	text-align: center; }

  .form_group > div.inner_wrapper {
    margin: auto;
	width: 250px; }

	.form_group > div.inner_wrapper label { font-weight: bold; }

  .form_group.investment p {
    margin-bottom: 25px; }

  #form-wrapper label {
    color: #232323;
	display: block;
	padding-top: 45px;
	padding-bottom: 7px;
	margin: auto; }

	#form-wrapper .contact label {
	  text-align: right;
	  display: inline-block;
	  width: 115px;
	  padding-right: 15px; }

	  #form-wrapper .contact label[for="zipcode"] { width: 85px; }

  #form-wrapper textarea  {
    border: 1px solid #d4d4d4;
	background-color: #f8f8f8;
	padding: 7px;
	margin: auto;
	display: block; }

  #form-wrapper select {
    width: 180px;
    height: 45px;
	padding-top: 10px;             
    border: 1px solid #d4d4d4;
	background-color: #f8f8f8; }

	#form-wrapper select option {
	  text-indent: 10px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  cursor: pointer;
	  border-bottom: 1px solid #CCCCCC; }

  .form_group table {
    min-width: 450px;
	height: auto;
	margin: auto;
	border: 1px solid #CCCCCC;
	margin-top: 30px; }

    .form_group tr {
	  border-top: 1px solid #CCC; }

	  .form_group table tr:first-child { border-top: 0px; }

	  .form_group table tr td {
	    height: 20px;
        width: 80px;
        position: relative; }

        .form_group table tr td div { position: relative; }

		.form_group table tr td:first-child {
	      padding: 3px;
          font-size: 14px;
          width: auto;
          padding-left: 10px;
          padding-right: 7px;
		  border-right: 1px solid #CCCCCC; }

	    #form-wrapper .form_group table td input[type="text"] {
	      width: 80px;
		  height: 30px;
		  border: 0px;
          margin: auto; }

        .keyError {
          font-size: 12px;
          font-style: italic;
          color: red;
		  width: 230px;
          position: absolute;
          left: 85px;
          top: 8px; }


  #form-wrapper  input[type="text"] {
    width: 675px;
	height: 45px;
	margin-bottom: 17px;
	text-indent: 7px;
	border: 1px solid #d4d4d4;
	background-color: #f8f8f8; }

	#form-wrapper  input[type="text"].med { /*width: 275px;*/ width: 390px; }

	#form-wrapper  input[type="text"].small,
	#form-wrapper input[type="text"].rating { width: 53px; }

	#form-wrapper  input[name="address1"] { margin-left: 135px; }

  #form-wrapper input[type="image"] {
    display: block;
	margin: auto;
	margin-top: 30px; }

   .error {
     border: 1px solid red !important; }
