@charset "utf-8";
/* Testimonials CSS */

#headline-container {
  width: 100%;
  height: auto; }

  #headline-container h1 {
    font-size: 21px;
	color: #313131;
	text-align: center;
	margin-top: 80px; }

  #headline-container .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px; }

#testimonial-container {
  width: 100%;
  height: auto;
  margin-top: 65px;
  margin-bottom: 25px; }

  article {
    width: 889px;
	height: auto;
	margin: auto;
	padding-bottom: 25px;
	margin-top: 80px;
	background: transparent no-repeat url('../images/testimonials/horiz-bar.png') center bottom; }

	article.no_horiz { background: none; }

	article.testimonial img.headshot {
	  float: left;
	  clear: both;
	  margin-bottom: 25px;
	  margin-left: 50px; }

	article img.apply_now { }

    article.testimonial p {
      margin-left: 260px;
	  margin-bottom: 20px;
	  margin-right: 50px; }

	  article.testimonial p.head {
	    font-size: 46px;
		text-align: center;
		margin-bottom: 30px; }

	  article.testimonial p.sig {
	    font-size: 27px;  }

