@charset 'utf-8';

body,
html {
  font-size: 16px;
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
  background: #ECF0F1; }

.hidden { display: none; }

.container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: auto; }

.valid { border: 1px solid green; }

.error { border: 1px solid red; }

/* Header */
header {
  width: 100%;
  height: auto;
  padding-bottom: 25px; }

  header h1 {
    font-size: 36px;
	color: #666666;
	text-align: center;
	padding-top: 25px; }


/* HighLites */
#highlite_row {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center; }

  .highlite {
    width: 180px;
	height: 120px;
	display: inline-block;
	margin: auto 25px 25px;
	color: #EFEFEF;
	background: #5D6E7E; }

	.title {
	  width: 100%;
	  height: 30px;
	  line-height: 30px;
	  margin-top: 5px;
	  font-size: 25px;  }

	.content {
	  width: 100%;
	  height: 85px;
	  line-height: 75px;
	  font-size: 30px; }

/* Sign Ups Table */
.wrapper {
    position: relative;
	width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
    background: #FFF; }

	.wrapper h2 {
	  font-size: 26px;
	  text-align: center;
	  font-weight: bold; }

.signups {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;}

  .signups thead td {
    font-weight: bold;
	padding: 5px;
	text-align: center; }

  .signups tbody td {
    padding: 5px;
	text-align: center; }

	.signups tbody tr.odd {
	  background: #EFEFEF; }



	.dataTables_wrapper .dataTables_filter {
	  position: absolute;
	  top: 5px;
	  right: 5px; }

	.dataTables_wrapper .dataTables_length {
	  position: absolute;
	  top: 5px;
	  left: 5px; }

	.dataTables_wrapper .dataTables_paginate {
	  position: absolute;
	  bottom: 5px;
	  right: 5px; }


	.dataTables_wrapper .dataTables_info {
	  position: absolute;
	  bottom: 5px;
	  left: 5px; }


#coupon_container {
  width: 500px;
  height: auto;
  padding: 20px;
  background: #FFF: }

  #coupon_container label {
    width: 115px;
	display: inline-block; }

  #coupon_container input[type="text"] {
    width: 200px;
	height: 25px;
	margin-bottom: 20px;
    display: inline-block; }

  #coupon_container select {
    width: 200px;
	height: 25px;
	margin-bottom: 20px;
    display: inline-block; }
