@char 'utf-8';
/* CSS StyleSheet */

.mastermind-copy span.daniel { display: block; margin-top: 10px; }

#headline-container {
  padding-top: 20px;
  float: none; }

#headline-container h2 {
  text-align: center; }

#headline-container h2 span.futura {
  color: #000; }

#headline-container h2 span#limited {
  font-size: 38px; }

  #headline-container h2 span.red,
  p.check.red {
    color: #E12C00; }


.signup { font-weight: bold;
  text-align: center;
  font-size: 36px;
  text-align: center;
  margin-top: 30px; }

.signup a {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  color: #0000FF; }

  input.lets_go {
  display: block;
  margin: auto;
  margin-top: 20px; }


.testimonial-container {
  width: 100%;
  height: auto;
  margin-top: 65px;
  margin-bottom: 15px; }

  p.head_testimonial {
    font-size: 36px;
	font-weight: bold;
	text-align: center; }

  .testimonial-container article,
  .horiz_row {
    width: 889px;
	height: auto;
	margin: auto;
	padding-bottom: 25px;
	margin-top: 80px;
	background: transparent no-repeat url('../../images/testimonials/horiz-bar.png') center bottom; }

	.testimonial-container article.no_horiz { background: none; }

	.testimonial-container article.testimonial img.headshot {
	  float: left;
	  clear: both;
	  margin-bottom: 25px;
	  margin-left: 50px; }

	.testimonial-container article img.apply_now { }

    .testimonial-container article.testimonial p {
      margin-left: 260px;
	  margin-bottom: 20px;
	  margin-right: 50px; }

	  .testimonial-container article.testimonial p.head {
	    font-size: 46px;
		text-align: center;
		margin-bottom: 30px; }

	  .testimonial-container article.testimonial p.sig {
	    font-size: 27px;  }


.mastermind-copy img {
  float: right;
  margin: auto;
  margin-top: -10px;
  margin-right: -161px; }


#the_guarantee { margin: 40px 80px 50px; }

  #the_guarantee img {
    float: right;
	margin-top: 0px;}


  #the_guarantee p {
    font-size: 16px;
	color: #232323;
	margin-bottom: 20px; }

    #the_guarantee p.head {
	  color: #000;
	  margin-bottom: 30px;
      font-size: 38px; }

	#the_guarantee .futura {
    font-size: 60px;
	color: #e12c00;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 35px; }

#additional_copy {
  width: 80%;
  height: auto;
  margin: auto; }

  #additional_copy p {
    margin: auto 50px 15px;}

    #additional_copy p.headline {
	  font-size: 60px;
	  margin-bottom: 45px; }
article ul { margin-bottom: 15px; }
article ul li {
	  font-size: 20px;
	  line-height: 30px; }
