@charset 'utf-8';
/* Style Sheet for Admin */

body,
html { font-family: Arial, Helvetica, sans-serif; }
i {
  display: inline-block;
  padding: 0px 4px; }

#container { width: 100%; max-width: 1000px; text-align: center; margin: auto; }

#page_content {
  padding-bottom: 50px;
  height: auto;
}

#featured_numbers {
  width: 100%;
  height: auto;
  padding: 20px 0px 50px;
  text-align: center;
  vertical-align: middle;
}

.featured {
  width: 130px;
  height: 100px;
  font-style: italic;
  font-size: 22px ;
  text-align: center;
  display: inline-block;
  background: #DDDDDD;
  padding-top: 7px;

	vertical-align: top;
  border: 1px solid #CCC;
}

  .featured span.head {
    font-size: 17px;
    display: block;
    border-bottom: 1px solid #CCC;
  }

#todays_orders.featured {
    color: #FFF;
    margin-left: 150px;
    background-color: #3D566E;}

#total.featured {}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

#key {
  border: 1px solid #DDD;
  text-align: center;
  padding: 7px 0px;
}

  #key li {
    display: inline-block;
    margin: 25px;
  }

    #key li:first-line { 
      font-size: 15px;
      font-weight: bold;}

table {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10px;

	clear: both;
}

  table tr:nth-child(even){
    background-color: #DDD;
  }

  table td {
    padding: 4px;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    border: 1px solid #CCC;
  }

  table td span {
    font-size: 15px;
    font-style: normal;
  }

    table tr.head td {
      font-size: 14px;
      font-style: italic;
	  font-weight: bold;
    }
      table tr.head td span {
        font-size: 13px;
        font-weight: normal;
		font-style: italic;
      }

	table td.hidden { display: none; }

	table td.code { font-size: 13px; }

  div.dataTables_length,
  div.dataTables_info {
    float: left;
	margin-bottom: 20px;
	margin-left: 100px; }

	div.dataTables_info { margin-top: 20px; }

  div.dataTables_filter,
  div.dataTables_paginate {
    float: right;
	margin-right: 100px; }

	div.dataTables_paginate { margin-top: 20px; }

	  div.dataTables_paginate a {
	    cursor: pointer;
		margin: auto 15px; }

@media (max-width: 600px)
{
	#container { }

	.featured {
	  width: 100%;
	  margin-bottom: 15px; }

	#todays_orders.featured { margin: auto; margin-bottom: 20px; }
}