@charset "utf-8";
/* Admin Pages CSS Document */

strong { font-weight: bold; }

em { font-style: italic; }

.clear { clear: both; }

body, html {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e8e8 repeat-y url('../images/pages/pg-bg.jpg') center top; }

.container,
#container {
  width: 936px;
  height: auto;
  margin: auto;
  position: relative; }


/* Header */
header {
  width: 100%;
  height: 317px;
  float: left;
  position: relative;
  border-bottom: 2px solid #FFF;
  -moz-box-shadow: 0px 20px 65px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 20px 65px rgba(0,0,0,0.4);
  box-shadow: 0px 20px 65px rgba(0,0,0,0.4);
  background: #020633 no-repeat url('../../images/pages/header-bg.jpg') center top; }

  #white-blur {
    width: 100%;
	height: 562px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent no-repeat url('../../images/pages/header-logo-white-blur.png') center top; }

  header img.logo {
    margin-left: 118px; }


/* Page Content */
#page_content {
  width: 936px;
  height: auto;
  min-height: 400px;
  float: left;
  position: relative;
  margin: -71px auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #d2d2d2;
  padding-bottom: 120px;
  background-color: #FFF; }

  nav {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

    nav a {
      width: 156px;
	  height: 52px;
	  float: right;
	  line-height: 52px;
	  text-align: center;
      margin-right: -1px;
      margin-top: -1px;
	  position: relative;
	  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
	  color: #FFF;
	  text-decoration: none;
      border-top-right-radius: 15px;
	  border-bottom: 1px solid #cdcdcd;
	  background-color: #000; }


/* Footer */
footer {
  width: 100%;
  height: 215px;
  float: left;
  border-top: 2px solid #FFF;
  -moz-box-shadow: 0px 0px 115px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 115px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 115px 10px rgba(0,0,0,0.4);
  background: #020633 no-repeat url('../../images/pages/footer-bg.jpg') center top; }

  footer p {
	color: #FFF;
	text-align: center; }

	footer p:first-child { margin-top: 105px; }
