@charset "utf-8";
/* Login CSS Document */

#form-wrapper {
  width: 400px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 25px;
  position: relative;
  border: 1px solid #CCCCCC; }

  #form-wrapper p.head {
    font-size: 24px;
    color: #383838;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }

  #form-wrapper p.error {
    font-size: 12px;
    font-style: italic;
    color: red;
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    text-align: center; }

  #form-wrapper label {
    display: inline-block;
    width: 100px;
    text-align: right; }

  #form-wrapper input[type="text"],
  #form-wrapper input[type="password"] {
    width: 250px;
    height: 30px;
    text-indent: 7px;
    margin-bottom: 25px; }

  #form-wrapper input[type="submit"] {
    display: block;
    margin: auto; }

