@charset "utf-8";
/* Members Area CSS */

#wrapper {
  width: 600px;
  height: auto;
  margin: auto; }

  h2 {
    font-size: 26px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px; }


/* Applicants Table */
table.applicants {
  width: 100%;
  height: auto;
  margin: auto; }

  table.applicants td,
  table.applicants th {
    height: 30px;
    text-align: center;
    border: 1px solid #CCCCCC; }

    table.applicants th {
      font-weight: bold;
      font-style: italic; }

	table.applicants tr:hover {
	  cursor: pointer;
	  background-color: #71ecfb; }

	table.applicants tr:first-child {
	  cursor: default;
	  background: none; }

#applicant-container {
  width: 600px;
  height: auto;
  min-height: 200px;
  position: absolute;
  top: 50px;
  left: 25%;
  display: none;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 0px 0px 13px rgba(0,0,0,.5);
  background-color: #E8E8E8; }

  #applicant-container #name {
    font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
    text-transform: capitalize; }

  #applicant-container div {
    width: 500px;
	height: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #FFF;
	margin: auto 50px 25px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic; }

	#applicant-container  div span {
	  font-weight: normal;
	  font-style: none; }

#overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;  }